#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

// レイヤー定義
#define BASE 0
#define OPT  1
#define FUNC 2
#define SYM  3
#define NUM  4

/ {
    behaviors {
        // ホールドでレイヤー(1つ目の引数)、タップでキー(2つ目の引数)
        opt_tap: opt_tap_label {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&mo &kp>;
        };
    };

    macros {
        desktop: desktop_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(TAB)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            bindings = <
                &kp LC(Z)     &kp SEMI  &kp LBKT  &kp LPAR  &kp LT    &kp LBRC
                &kp LANG1     &kp P     &kp K     &kp R     &kp A     &kp F
                &kp BSPC      &kp D     &kp T     &kp H     &kp E     &kp O
                &sk LSHFT     &kp Y     &kp S     &kp N     &kp I     &kp U     &kp SPACE
                &sk LCTRL     &sk LALT  &sk LGUI  &mo SYM   &mo NUM   &opt_tap OPT SPACE &kp ENTER
            >;
        };

        opt_layer {
            bindings = <
                &kp ESC       &kp COLON &kp RBKT  &kp RPAR  &kp GT    &kp RBRC
                &kp LANG2     &kp J     &kp M     &kp B     &kp SQT   &kp TAB
                &kp DOT       &kp V     &kp C     &kp L     &kp Z     &kp Q
                &trans        &kp X     &kp G     &kp W     &kp MINUS &kp DEL   &kp ESC
                &trans        &trans    &trans    &kp COMMA &desktop  &trans    &trans
            >;
        };

        func_layer {
            bindings = <
                &none         &none     &trans    &sys_reset &none    &none
                &none         &none     &kp F7    &kp F8    &kp F9    &trans
                &none         &none     &kp F4    &kp F5    &kp F6    &kp F12
                &none         &kp F10   &kp F1    &kp F2    &kp F3    &kp F11   &trans
                &none         &trans    &trans    &trans    &trans    &trans    &trans
            >;
        };

        sym_layer {
            bindings = <
                &kp INS       &kp GRAVE &trans    &kp PG_UP &kp PG_DN &kp CARET
                &trans        &kp BSLH  &kp HASH  &kp EQUAL &kp QMARK &kp PRCNT
                &trans        &kp DLLR  &kp UP    &kp AT    &kp EXCL  &kp PIPE
                &kp CAPS      &kp LEFT  &kp DOWN  &kp RIGHT &kp UNDER &kp AMPS  &trans
                &trans        &trans    &kp PSCRN &trans    &kp TILDE &trans    &trans
            >;
        };

        num_layer {
            bindings = <
                &trans        &trans    &sl FUNC  &kp HOME  &kp END   &trans
                &trans        &kp ASTRK &kp KP_N7 &kp KP_N8 &kp KP_N9 &kp MINUS
                &kp KP_DOT    &kp KP_SLASH &kp KP_N4 &kp KP_N5 &kp KP_N6 &kp PLUS
                &kp NUM_LOCK  &kp KP_N0 &kp KP_N1 &kp KP_N2 &kp KP_N3 &kp LC(LS(F1)) &trans
                &trans        &trans    &kp KP_DOT &kp COMMA &trans   &trans    &trans
            >;
        };
    };
};
